# Build outputs
bin/
obj/
out/
.vs/
.idea/
.vscode/

# Node & dependencies
node_modules/
dist/
build/
.npm
*.log

# Environment & local settings
appsettings*.Development.json
appsettings*.Local.json
.env
.env.local
